<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrackiPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840C99771C96168B0003D0F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842111951C94471B00A29D57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842111A91C94471C00A29D57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842111B41C94471C00A29D57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
